
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
body,
input,
textarea {
  font-family: 'Arial', '微軟正黑體', sans-serif, eudc;
  font-size: 15px;
}
a,
a:hover {
  text-decoration: none;
  cursor: pointer;
}
.radius-border-large {
  border-radius: 10px;
  border: 1px solid #d1d0d0;
  overflow: hidden;
}
.radius-border-small {
  border-radius: 3px;
  overflow: hidden;
}
.padding-top-0 {
  padding-top: 0 !important;
}
form {
  position: relative;
}
form .field-container {
  position: relative;
}
form label.error {
  font-size: 12px;
  color: #cc6666;
  display: block;
  padding: 5px;
  text-indent: 15px;
  position: absolute;

}
form textarea.error,
form input.error {
  border-color: #cc6666 !important;
}
#banner {
  width: 1000px;
  height: 300px;
}
#banner .desc {
  width: 360px;
  height: 300px;
  float: left;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#banner .desc .title {
  font-size: 30px;
  font-weight: bold;
  padding: 30px;
}
#banner .desc p {
  color: #666666;
  padding: 0 30px;
  line-height: 18px;
}
#banner .desc ul {
  color: #666666;
  padding: 0 30px;
}
#banner .desc ul li {
  display: block;
  margin-bottom: 10px;
  line-height: 18px;
}
#banner .desc .btn-cta {
  display: block;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  padding: 30px;
}
#banner .desc .btn-cta:hover {
  text-decoration: underline;
}
#banner img {
  width: 640px;
  float: right;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#banner .owl-stage-outer {
  z-index: 1;
}
#banner .owl-controls .owl-nav {
  position: absolute;
  z-index: 0;
  width: 116%;
  margin: -180px 0 0 -8%;
}
#banner .owl-controls .owl-nav .owl-prev,
#banner .owl-controls .owl-nav .owl-next {
  font-size: 0;
  width: 32px;
  height: 32px;
  background-color: #cbc0e0;
}
#banner .owl-controls .owl-nav .owl-prev {
  float: left;

}
#banner .owl-controls .owl-nav .owl-next {
  float: right;

}
.title-header {
  width: 100%;
  height: 75px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-indent: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  line-height: 75px;
}
.title-header * {
  vertical-align: middle;
}
.title-header .title-header-icon {
  display: inline-block;
  margin-left: -10px;
  width: 60px;
  height: 75px;
  background-position: center 15px;
  background-repeat: no-repeat;
}
.title-header .title-block {
  height: 18px;
  margin-top: -2px;
}
.title-header-btn {
  float: right;
  margin: 18px 20px 0 0;
  width: 120px;
  height: 40px;
  line-height: 40px;
  color: #666;
  font-weight: bold;
  text-align: center;
  border-radius: 99px;
  cursor: pointer;
  background-color: #fff;
  opacity: 0.9;
}
.title-header-btn:hover {
  opacity: 1;
}
.title-contents {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #666;
  color: #fff;
}
.title-contents h3 {
  display: inline-block;
  font-weight: bold;
  text-indent: 20px;
}
.title-contents .date {
  font-size: 13px;
  color: #fff;
  float: right;
  margin-right: 20px;
  text-indent: 0;
}
.title-contents .date.with-clock {

  text-indent: 30px;
}
.title-contents .view {
  color: #fff;
  float: right;
  margin-right: 50px;
  text-indent: 20px;

}
.title-contents .asker {
  color: #fff;
  float: right;
  margin-right: 50px;
  text-indent: 0;
}
.title-contents .title-reply {
  color: #f9b852;
}
.title-contents.not-official {
  background-color: #999;
}
.title-contents.not-official .title-reply {
  color: #fff;
}
.title-block {
  display: inline-block;
  width: 8px;
  height: 20px;
  margin-right: 10px;
}
.info {
  padding: 50px 0;
}
.info .title {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  vertical-align: top;
  padding-bottom: 20px;
}
.info-category {
  padding-bottom: 0 !important;
}
.info-undercategory {
  padding-top: 20px !important;
}
.contents {
  width: 958px;
  height: auto;
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #d1d0d0;
  border-top: none;
  color: #666666;
  line-height: 22px;
  background-color: #fff;
}
.lister {
  border-radius: 10px;
  border: 1px solid #d1d0d0;
  overflow: hidden;
  background-color: #fff;
}
.lister li {
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  text-indent: 20px;
  color: #666666;
  border-top: 1px solid #d1d0d0;
  cursor: pointer;
}
.lister li * {
  /*color: #666666;*/ /*首頁福委會列表未點擊*/
    color: black;
}
.lister li a {
  display: block;
  width: 100%;
  height: 100%;
}

.lister tr {
    overflow: hidden;
    text-indent: 20px;
    color: #666666;
    border-top: 1px solid #d1d0d0;
}
.lister tr a:visited {
  /*color: #999999 !important;*/
  color: black;
}
.lister tr a:visited * {
  /*color: #999999 !important;*/
  color: black;
}
.lister tr:hover {
  color: #000 !important;
  background-color: #f9f9f9;
}
.lister tr:hover * {
  color: #000 !important;
}
.lister tr:hover a {
  color: #000 !important;
}
.lister tr:first-child {
  border-top: none;
}
.lister li a:visited {
  /*color: #999999 !important;*/
    color: black; /*首頁福委會點擊後*/
}
.lister li a:visited * {
  /*color: #999999 !important;*/
    color: black; /*首頁福委會點擊後*/
}
.lister li:hover {
  color: #000 !important;
  background-color: #f9f9f9;
}
.lister li:hover * {
  color: #000 !important;
}
.lister li:hover a {
  color: #000 !important;
}
.lister li:first-child {
  border-top: none;
}
.lister.with-header {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: none;
}
.lister.with-pager {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: none;
}
.lister .category {
  display: inline-block;
  width: 100px;
  text-align: left;
  text-indent: 0;
}
.lister .date {
  width: 160px;
  text-align: right;
  font-size: 13px;
  color: #999999;
  float: right;
  margin-right: 20px;
  text-indent: 0;
}
.lister .date.with-clock {

  text-indent: 30px;
}
.lister .reply {
  width: 70px;
  text-align: center;
  color: #999999;
  float: right;
  margin-right: 50px;
  text-indent: 0;
}
.lister .reply.yes {
  color: green !important;
}
.lister .reply.no {
  color: red !important;
}
.lister .view {
  width: 70px;
  text-align: left;
  color: #999999;
  float: right;
  margin-right: 50px;
  text-indent: 20px;

}
.lister .asker {
  width: 70px;
  text-align: left;
  color: #999999;
  float: right;
  margin-right: 50px;
  text-indent: 0;
}
.lister-category {
  font-size: 0;
}
.lister-category li {
  border-radius: 3px;
  overflow: hidden;
  display: inline-block;
  width: 160px;
  height: 80px;
  margin: 0 7px 7px 0;
  margin: 0 6px 6px 0;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  line-height: 80px;
  opacity: 0.80;
  filter: alpha(opacity=80);
  /* For IE8 and earlier */
}
.lister-category li * {
  color: #fff;
  vertical-align: middle;
}
.lister-category li .category-btn-icon {
  display: inline-block;
  margin-left: 10px;
  width: 60px;
  height: 80px;
  background-position: center 18px;
  background-repeat: no-repeat;
}
.lister-category li:nth-child(6n) {
  margin-right: 0;
}
.lister-category li:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  /* For IE8 and earlier */
}
.lister-category li.actived {
  cursor: default;
  opacity: 1;
  filter: alpha(opacity=100);
  /* For IE8 and earlier */
}
.lister-category li.actived a {
  cursor: default;
}
.lister-category li.actived:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  /* For IE8 and earlier */
}
.lister-checker {
  width: 95%;
  padding: 15px 2.5%;
  background-color: #666;
  color: #fff;
}
.lister-checker li {
  display: inline-block;
  margin-right: 40px;
}
.lister-checker .category-btn {
  display: block;
  padding: 5px 0;
  cursor: pointer;
}
.lister-checker .category-btn .category-check {
  width: 14px;
  height: 12px;
  display: inline-block;

  margin-right: 5px;
}
.lister-checker .category-btn:hover .category-check {

}
.lister-checker .category-btn.actived {
  cursor: default;
}
.lister-checker .category-btn.actived .category-check {
  
}
.pager {
  height: auto;
  padding: 10px 20px 20px 20px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #d1d0d0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.1);
}
.pager-dot {
  font-size: 0;
}
.pager-dot li {
  display: inline-block;
  margin: 10px 5px 0 5px;
}
.pager-dot li span {
  display: block;
  text-indent: -1000px;
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 99px;
  cursor: pointer;
  -webkit-box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.3);
}
.pager-dot li span.actived {
  cursor: default;
  -webkit-box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0);
  box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0);
}
.pager-num li {
  display: inline-block;
  margin: 10px 5px 0 5px;
}
.pager-num li span {
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  color: #999999;
  text-align: center;
  cursor: pointer;
  border: 2px solid #d1d0d0;
}
.pager-num li span:hover {
  color: #666666;
}
.pager-num li span.actived {
  font-weight: bold;
  cursor: default;
  color: #333333;
}
.pager-num li span.switcher {
  border: 0;
  width: auto;
}
.pager-num li a {
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  color: #999999;
  text-align: center;
  cursor: pointer;
  border: 2px solid #d1d0d0;
}
.pager-num li a.switcher {
  border: 0;
  width: auto;
}
table.table-form {
  width: 100%;
  margin-left: 35px;
}
table.table-form.with-border {
  width: 92%;
  border: 1px solid #ccc;
}
table.table-form.with-border th,
table.table-form.with-border td {
  border: 1px solid #ccc;
  height: 45px;
  padding: 0 10px;
}
table.table-form.with-border th {
  background: #ecf2d8;
}
table.table-form.with-border select {
  padding: 0;
  border: none;
  width: 100%;
}
table.table-form.with-border input[type="text"],
table.table-form.with-border input[type="tel"] {
  width: 96%;
  height: 30px;
  line-height: 30px;
  padding: 0 2%;
}
table.table-form th,
table.table-form td {
  padding: 15px 0;
  vertical-align: middle;
}
table.table-form th {
  text-align: left;
  font-weight: bold;
  color: #666666;
  width: 100px;
}
table.table-form td {
  width: 350px;
}
table.table-form td.center-it {
  text-align: center;
}
table.table-form td .c3 {
  width: 695px !important;
  padding: 0 2%;
  border: 1px solid #ccc;
}
table.table-form input[type="text"],
table.table-form input[type="tel"],
table.table-form input[type="email"] {
  vertical-align: middle;
  width: 76%;
  height: 40px;
  line-height: 40px;
  padding: 0 2%;
  border: 1px solid #ccc;
}
table.table-form input[type="text"].short,
table.table-form input[type="tel"].short,
table.table-form input[type="email"].short {
  width: 280px;
}
table.table-form input[type="text"].address,
table.table-form input[type="tel"].address,
table.table-form input[type="email"].address {
  width: 377px;
}
table.table-form input[type="text"].address-2,
table.table-form input[type="tel"].address-2,
table.table-form input[type="email"].address-2 {
  width: 210px;
}
table.table-form input[type="text"].account-number-short,
table.table-form input[type="tel"].account-number-short,
table.table-form input[type="email"].account-number-short {
  width: 100px;
  margin-right: 10px;
}
table.table-form input[type="text"].account-number-long,
table.table-form input[type="tel"].account-number-long,
table.table-form input[type="email"].account-number-long {
  width: 400px;
}
table.table-form textarea {
  height: 150px;
}
table.table-form select {
  vertical-align: middle;
  width: 80%;
  height: 42px;
  line-height: 42px;
  border: 1px solid #ccc;
  font-size: 15px;
  color: #666666;
}
table.table-form select.short {
  width: 150px;
}
table.table-form label {
  margin-right: 30px;
}
table.table-form .twzipcode {
  display: inline-block;
}
table.table-form .twzipcode select {
  width: 150px;
  margin-right: 10px;
}
table.table-form .ps {
  font-size: 12px;
  color: #999999;
  margin-left: 10px;
}
table.table-notice {
  width: 830px;
  font-size: 13px;
}
table.table-notice th {
  width: 40px;
  color: #99cc66;
  vertical-align: top;
  padding: 5px 0;
}
table.table-notice td {
  width: 858px;
  padding: 5px 0;
  color:black;/*頁面下方註解部分表格文字顏色*/
}
table.table-notice a {
  color: #ff9933;
  text-decoration: underline;
}
table.table-notice a:hover {
  color: #ff6600;
}
.form-title-notice {
  width: 92%;
  font-size: 18px;
  font-weight: bold;
  color: #99cc66;
  text-align: left;
  margin: 50px 0 5px 35px;
}
.form-send-container {
  display: block;
  border-top: 1px solid #ccc;
  margin-top: 30px;
  text-align: center;
}
.form-send-container .send {
  display: inline-block;
  margin: 50px auto 20px auto;
  width: 200px;
  height: 60px;
  border-radius: 3px;
  border: none;
  background-color: #50960a;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.form-send-container .send:hover {
  background-color: #77c32c;
}
/**
 * Layout Less
 *
 * @package		charset, global, section
 * @author		KiiiiCK
 * @copyright	Copyright (C) KICKcreative Co., All Rights Reserved.
 * @license		dev 1.0
 * @link		http://www.kiiiick.com/
 * 
 **/
/*------------------------------------*\
    $HTML, $BODY
\*------------------------------------*/
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  min-height: 800px;
  overflow-x: hidden;
}
/*------------------------------------*\
    $NAVBAR
\*------------------------------------*/
.navbar {
  display: block;
  width: 100%;
  height: 60px;
  position: relative;
  z-index: 999;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.5);
  text-align: center;
  background-color: #01a398;
}
.navbar .container {
  background-color: #01a398;
  width: 100%;
  height: 60px;
  position: relative;
  z-index: 2;
}
.navbar .con-w {
  width: 1000px;
  height: 60px;
  margin: 0 auto;
  font-size: 0;
}
.navbar a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 60px;
  color: #fff;
}
.navbar a:hover {
  background-color: #50bcb2;
}
.navbar .navbar-header {
    display: inline-block;
    width: 400px;
    height: 100%;
    font-size: 20px;
    text-align: center;
    line-height: 100px;
    vertical-align: top;
    border-right: 1px solid #50bcb2;
    border-left: 1px solid #50bcb2;
    font-weight: bold;
}
.navbar .navbar-nav {
  display: inline-block;
  vertical-align: top;
  height: 100%;
}
.navbar .navbar-nav li {
  display: inline-block;
  width: 95px;
  height: 100%;
  font-size: 16px;
  text-align: center;
  vertical-align: top;
  border-right: 1px solid #50bcb2;
}
.navbar .search-icon {
  display: inline-block;
  width: 95px;
  height: 100%;
  vertical-align: top;
  border-right: 1px solid #50bcb2;

}
.navbar .search-icon:hover {
  cursor: pointer;
  background-color: #50bcb2;
}
.navbar .user-info {
  display: inline-block;
  width: 200px;
  height: 100%;
  vertical-align: top;
  border-right: 1px solid #50bcb2;
  font-size: 15px;
  color: #fff;
  line-height: 60px;
  text-align: center;
}
.navbar .user-info .logout {
  display: inline-block;
  width: 90px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background-color: #50bcb2;
  border-radius: 99px;
  text-shadow: none;
  margin-left: 10px;
  cursor: pointer;
}
.navbar .user-info .logout:hover {
  color: #01a398;
  background-color: #fff;
}
.navbar .navbar-search {
  display: none;
  width: 100%;
  text-align: center;
  background-color: #007771;
  padding: 100px 0;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: inset 0px 0px 30px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 30px -2px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 30px -2px rgba(0, 0, 0, 0.75);
}
.navbar .navbar-search h2 {
  display: inline-block;
  font-size: 24px;
  color: #fff;
  text-shadow: 1px 1px #666;
  vertical-align: top;
  line-height: 48px;
  margin: 0 5px;
}
.navbar .navbar-search form {
  display: inline-block;
}
.navbar .navbar-search .navbar-search-input {
  width: 500px;
  height: 40px;
  font-size: 15px;
  text-align: center;
  margin: 0 5px;
  position: relative;
  z-index: 2;
}
.navbar .navbar-search .navbar-search-btn {
  width: 100px;
  height: 45px;
  border: none;
  background-color: #01a398;
  color: #fff;
  font-size: 15px;
  text-shadow: 1px 1px #007771;
  border-radius: 3px;
  margin: 0 5px;
}
.navbar .navbar-search .navbar-search-btn:hover {
  cursor: pointer;
  background-color: #50bcb2;
}
.navbar .navbar-search .navbar-search-close {
  display: block;
  width: 36px;
  height: 36px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 30px 30px 0 0 ;
  border: 1px solid #ccc;
  border-radius: 99px;
  font-size: 24px;
  color: #ccc;
  line-height: 36px;
}
.navbar .navbar-search .navbar-search-close:hover {
  cursor: pointer;
  color: #fff;
  border: 1px solid #fff;
}
.navbar .navbar-search-close-bg {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.75);
}
/*------------------------------------*\
    $WRAP
\*------------------------------------*/
.search-block {
  display: none;
  height: 248px;
}
.wrap {
  width: 100%;
  min-height: 100%;
  height: auto;
  margin-bottom: -180px;
  margin-top: -100px;
}
.wrap:before {
  content: "";
  display: block;
  height: 150px;
}
.wrap:after {
  content: "";
  display: block;
  height: 180px;
}
.sub-wrap {
  width: 100%;
  clear: both;
  text-align: center;
}
.sub-wrap .container {
  width: 1000px;
  height: auto;
  min-height: 120px;
  margin: 0 auto;
  padding-top: 0;
  text-align: left;
}
.sub-wrap .container.break {
  display: inline-block;
  margin-top: -100px;
}
.sub-wrap-shadow {
  -webkit-box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 10px 10px -10px rgba(0, 0, 0, 0.3);
}
.sub-wrap-color-2 .info {
  padding: 30px 0 50px 0;
}
/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer {
  width: 100%;
  height: 180px;
  background-color: #333;
  position: relative;
}
.footer .container {
  width: 1000px;
  padding-top: 65px;
  border-top: 14px solid #01a398;
  font-size: 12px;
  color: #ccc;
  position: absolute;
  left: 50%;
  margin-top: -7px;
  margin-left: -500px;
}
.footer .container h2 {
  margin-bottom: 10px;
  letter-spacing: 2.8px;
}
.footer .container a {
  font-size: 22px;
  color: #ccc;
  margin-right: 10px;
}
.footer .container .copyright {
  float: right;
}

/*新增的footer*/
.footer1 {
  width: 100%;
  height: 180px;
  background-color: #333;
  position: relative;
}
.footer1 .container {
  width: 1000px;
  padding-top: 65px;
  border-top: 14px solid #01a398;
  font-size: 12px;
  color: #ccc;
  position: absolute;
  left: 50%;
  margin-top: -7px;
  margin-left: -500px;
}
.footer1 .container h2 {
  margin-bottom: 10px;
  letter-spacing: 2.8px;
}
.footer1 .container a {
  font-size: 22px;
  color: #ccc;
  margin-right: 10px;
}
.footer1 .container .copyright {
  float: right;
}
/*新增的footer*/
.login {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100% !important;
  margin-top: 0px;
}
.login:before {
  height: 0px;
}
.login:after {
  height: 0px;
}
.login .sub-wrap {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ccffffff', endColorstr='#ccffffff');
  /* IE */
}
.login .sub-wrap .container {
  padding: 100px 0;
  height: 650px;
}
.login #banner .desc {
  background-color: #01a398;
}
.login #banner .desc .title {
  color: #fff;
  margin-top: 100px;
}
.login .login-form {
  margin-top: 50px;
  padding-bottom: 50px;
}
.login .login-form .error-desc {
  display: none;
}
.login .login-form .field-container {
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
}
.login .login-form .field-container:first-child {
  margin-left: 0;
}
.login .login-form .department,
.login .login-form .account,
.login .login-form .pw,
.login .login-form .captcha-code {
  border: 1px solid #d1d0d0;
  border-radius: 3px;
  width: 245px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-align: center;
}
.login .login-form .department option,
.login .login-form .account option,
.login .login-form .pw option,
.login .login-form .captcha-code option {
  padding: 10px;
  text-align: left;
}
.login .login-form .captcha {
  display: none;
}
.login .login-form .btn-login {
  width: 165px;
  height: 60px;
  background-color: #01a398;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  vertical-align: middle;
  margin-right: 0;
}
.login .login-form .btn-login:hover {
  background-color: #007771;
}
.login .login-form.with-captcha {
  margin-top: 50px;
  padding-bottom: 50px;
}
.login .login-form.with-captcha .error-desc {
  display: block;
  width: 750px;
  height: 18px;
  margin: 0 auto;
  margin-bottom: 20px;
  line-height: 18px;
  color: #f90;
  text-indent: 25px;

}
.login .login-form.with-captcha .captcha {
  display: inline-block;
}
.login .login-form.with-captcha .department,
.login .login-form.with-captcha .account,
.login .login-form.with-captcha .pw {
  width: 168px;
}
.login .login-form.with-captcha .captcha-img {
  position: relative;
  z-index: 99;
  margin-left: 10px;
  vertical-align: middle;
}
.login .login-form.with-captcha .captcha-code {
  width: 200px;
  text-align: left;
  text-indent: 110px;
  margin-left: -115px;
}
.index .sub-wrap-blue {
  background-color: #e9eff0;
}
.index #banner {
  width: 1000px;
  height: 485px;
}
.index #banner .desc {
  width: 100%;
  height: 85px;
  background-color: #007771;
  border-radius: 0px;
}
.index #banner .desc .title {
  display: block;
  font-size: 18px;
  color: #fff;
  padding: 25px 0 0 20px;
  letter-spacing: 1px;
}
.index #banner .desc .date {
  display: block;
  font-size: 12px;
  color: #fff;
  padding: 5px 0 0 20px;
}
.index #banner img {
  width: 100%;
  height: 400px;
  border-radius: 0px;
}
.index #banner .owl-controls {
  position: absolute;
  z-index: 1;
  right: 0;
  margin: -55px 20px 0 0;
}
.index #banner.owl-theme .owl-dots .owl-dot span {
  background: #004c48 !important;
}
.index #banner.owl-theme .owl-dots .owl-dot.active span {
  background: #fff !important;
}
.index #banner.owl-theme .owl-dots .owl-dot:hover span {
  background: #ccc !important;
}
.index #info-news {
  float: left;
  width: 480px;
}
.index #info-news .title {
  color: #fa60a8;
}
.index #info-news .title-block {
  background-color: #fa60a8;
}
.index #info-news .pager-dot li span:hover {
  background-color: #f9a8ce;
}
.index #info-news .pager-dot li span.actived {
  background-color: #fa60a8;
}
.index #info-benefits {
  float: right;
  width: 480px;
}
.index #info-benefits .title {
  color: #907db5;
}
.index #info-benefits .title-block {
  background-color: #907db5;
}
.index #info-benefits .pager-dot li span:hover {
  background-color: #cbc0e0;
}
.index #info-benefits .pager-dot li span.actived {
  background-color: #907db5;
}
/*樣式修改 start*/
.index #info-lohas{
  width:100%;
  font-size: 0;
}
.index #info-lohas .title {  
  color: #0ea1cf;
}
.index #info-lohas .title-block {
  background-color: #0ea1cf;
}
.index #info-lohas .item {
  display: inline-block;
  width: 100%;
  margin-right: 2.5%;
  margin-bottom: 50px;
}
.index #info-lohas .item a {
  display: block;
}
.index #info-lohas .item .img {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  width:100%;
  border-radius: 10px;
  height: 180px;
  border: 17px solid #fff;
  margin-bottom: 15px;
  overflow: hidden;
}
.index #info-lohas .item img {
  width: 100%;
}
.index #info-lohas .item .photo-title {
  font-size: 15px;
  font-weight: normal;
  color: #666666;
    /*color: black;*/
  padding-left: 17px;
}
/*樣式修改 end*/
.index #info-lohas .item .view {
  display: block;
  padding: 8px 0 0 17px;
  font-size: 12px;
  color: #999999;
    /*color: black;*/
}
.index #info-lohas .item a:hover .img {
  border: 17px solid #91d2f9;
}
.index #info-lohas .item a:hover .title {
  color: #333333;
}
.index #info-lohas .item a:hover .view {
  color: #666666;
}
.index #info-lohas .owl-stage-outer {
  z-index: 1;
}
.index #info-lohas .owl-controls .owl-nav {
  position: absolute;
  z-index: 0;
  width: 116%;
  margin: -180px 0 0 -8%;
}
.index #info-lohas .owl-controls .owl-nav .owl-prev,
.index #info-lohas .owl-controls .owl-nav .owl-next {
  font-size: 0;
  width: 32px;
  height: 32px;
  background-color: #e9eff0;
}
.index #info-lohas .owl-controls .owl-nav .owl-prev {
  float: left;

}
.index #info-lohas .owl-controls .owl-nav .owl-next {
  float: right;

}
.index #info-lohas .owl-theme .owl-dots {
  display: none !important;
  margin-top: 30px;
}
.index #info-lohas .owl-theme .owl-dots .owl-dot.active span {
  background: #0ea1cf;
}
.index #info-lohas .owl-theme .owl-dots .owl-dot:hover span {
  background: #90d0e5;
}
.index #news {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ccffffff', endColorstr='#ccffffff');
  /* IE */
}
.index #news .title-header {
  background-color: #fa60a8;
}
.index #news .title-block {
  background-color: #fff;
}
.index #news .date {
  display: inline-block;
  color: #fff;
  font-size: 13px;
  text-indent: 15px;
}
.index #news .contents {
  overflow-y: scroll;
  width: 918px;
  padding: 40px;
  color:black;/*玉山事內容文字顏色修改*/
}
.index #news .contents a {
  color: #ff6600;
}
.index #news .contents a:hover {
  text-decoration: underline;
}
.index #news .contents img {
  width: 100%;
  margin-bottom: 30px;
}
.index #news .contents p,
.index #news .contents .param {
  margin-bottom: 30px;
}
.benefits .sub-wrap-color,
.benefitscontent .sub-wrap-color {
  background-color: #faf4fa;
  padding-bottom: 50px;
}
.benefits #banner .desc,
.benefitscontent #banner .desc {
  background-color: #cbc0e0;
}
.benefits #banner .desc .title,
.benefitscontent #banner .desc .title {
  color: #41354e;
}
.benefits .owl-theme .owl-dots,
.benefitscontent .owl-theme .owl-dots {
  display: none !important;
  margin-top: 10px;
}
.benefits .owl-theme .owl-dots .owl-dot.active span,
.benefitscontent .owl-theme .owl-dots .owl-dot.active span {
  background: #907db5;
}
.benefits .owl-theme .owl-dots .owl-dot:hover span,
.benefitscontent .owl-theme .owl-dots .owl-dot:hover span {
  background: #cbc0e0;
}
.benefits .title,
.benefitscontent .title {
  color: #907db5;
}
.benefits .title-block,
.benefitscontent .title-block {
  background-color: #907db5;
}
.benefits .lister-category li,
.benefitscontent .lister-category li {
  background-color: #907db5;
}
.benefits .title-header,
.benefitscontent .title-header {
  background-color: #907db5;
}
.benefits .title-header-btn,
.benefitscontent .title-header-btn {
  color: #907db5;
}
.benefits .lister.with-thumb li,
.benefitscontent .lister.with-thumb li {
  height: auto;
  padding: 20px 0;
  text-indent: 0;
}
.benefits .lister.with-thumb a,
.benefitscontent .lister.with-thumb a {
  overflow: auto;
}
.benefits .lister.with-thumb img,
.benefitscontent .lister.with-thumb img {
  float: left;
  margin: 0 20px;
  border: 1px solid #d1d0d0;
}
.benefits .lister.with-thumb h3,
.benefitscontent .lister.with-thumb h3 {
  float: left;
  width: 700px;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}
.benefits .lister.with-thumb p,
.benefitscontent .lister.with-thumb p {
  float: left;
  font-size: 13px;
  width: 700px;
  line-height: 18px;
  margin-top: 5px;
}
.benefits .icon1,
.benefitscontent .icon1 {

}
.benefits .icon2,
.benefitscontent .icon2 {
 
}
.benefits .icon3,
.benefitscontent .icon3 {

}
.benefits .icon4,
.benefitscontent .icon4 {

}
.benefits .icon5,
.benefitscontent .icon5 {

}
.benefits .icon6,
.benefitscontent .icon6 {

}
.benefits .icon7,
.benefitscontent .icon7 {

}
.benefits .icon8,
.benefitscontent .icon8 {

}
.benefits .icon9,
.benefitscontent .icon9 {

}
.benefits .icon10,
.benefitscontent .icon10 {
 
}
.benefits .icon11,
.benefitscontent .icon11 {
 
}
.benefits .icon12,
.benefitscontent .icon12 {

}
.benefits .icon13,
.benefitscontent .icon13 {
 
}
.benefits .icon14,
.benefitscontent .icon14 {

}
.benefits .icon15,
.benefitscontent .icon15 {

}
.benefits .icon16,
.benefitscontent .icon16 {

}
.benefits .icon17,
.benefitscontent .icon17 {
 
}
.benefits .icon18,
.benefitscontent .icon18 {
  
}
.benefits .icon19,
.benefitscontent .icon19 {

}
.benefits .icon20,
.benefitscontent .icon20 {
 
}
.benefitscontent {
  background-color: #faf4fa;
}
.benefitscontent .title-block {
  background-color: #fff;
}
.supply .sub-wrap-color {
  background-color: #ecf2d8;
  padding-bottom: 50px;
}
.supply .sub-wrap-color-2 {
  background-color: #c5d799;
}
.supply .title-header {
  background-color: #99cc66;
}
.supply .title-header .title-block {
  background-color: #fff;
}
.supply .supply-list {
  text-align: center;
}
.supply .supply-list li {
  display: inline-block;
  margin-top: 40px;
  width: 320px;
  margin-right: 15px;
  margin: 40px 5px 0 5px;
}
.supply .supply-list li:nth-child(3n) {
  margin-right: 0;
}
.supply .supply-list li a div {
  display: block;
  height: 150px;
  position: relative;
  margin-bottom: 15px;
  border: 17px solid #fff;
  border-radius: 10px;
}
.supply .supply-list li a img {
  width: 100%;
  height: 150px;
}
.supply .supply-list li a .desc {
  display: none;
  width: 80%;
  height: 150px;
  padding: 0 10%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
  color: #fff;
  line-height: 22px;
}
.supply .supply-list li a .desc p {
  display: block;
  margin-top: 20px;
}
.supply .supply-list li a .desc .more {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 7px 20px;
  font-size: 12px;
  margin-top: 20px;
}
.supply .supply-list li a:hover div {
  border: 15px solid #c5d799;
}
.supply .supply-list li a:hover .desc {
  display: table;
}
.supply .supply-list li a:hover h3 {
  color: #3a680b;
}
.supply .supply-list li .supply-title {
  color: #666666;
  padding-left: 17px;
}
.supply .supply-map {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 50px 0;
  width: 1200px;
}
.supply .supply-map h3 {
  font-weight: bold;
  color: #3a680b;
  margin-top: 30px;
}
.supply .supply-map a {
  color: #50960a;
  font-size: 14px;
}
.supply .supply-map a:hover {
  color: #fff;
}
.supply .supply-map div {
  display: inline-block;
  float: left;
  width: 280px;
}
.supply .supply-map div:first-child {
  margin-left: 0;
}
.supply .supply-map div ul {
  display: inline-block;
  vertical-align: top;
}
.supply .supply-map div li {
  display: block;
  width: auto;
  float: none;
  margin: 15px 0;
}
.supplycontent .sub-wrap {
  padding-bottom: 50px;
}
.supplycontent .sub-wrap-color {
  background-color: #ecf2d8;
}
.supplycontent #banner .desc {
  background-color: #c5d799;
}
.supplycontent #banner .desc .title {
  color: #3a680b;
  margin-top: 90px;
}
.supplycontent .lister-category {
  margin-top: 50px;
}
.supplycontent .lister-category li {
  width: auto;
  text-align: center;
  background-color: #99cc66;
}
.supplycontent .lister-category li a {
  display: block;
  width: 100%;
  height: 100%;
}
.supplycontent .lister-category li.actived {
  background-color: #50960a;
}
.supplycontent .title-header {
  background-color: #99cc66;
}
.supplycontent .title-block {
  background-color: #99cc66;
  position: relative;
  top: 4px;
}
.supplycontent .colored-row {
  background-color: #f6f6f6;
}
.supplycontent .contents {
  width: 898px;
  padding: 50px;
}
.supplycontent .contents ul {
  padding: 5px 0;
}
.supplycontent .contents ul li {
  margin: 5px 0;
  color:black;/*員工權益li項目內文字顏色*/
}
.supplycontent .contents ul.accordion {
  padding: 0;
}
.supplycontent .contents p {
  padding: 5px 0;
  color:black;/*員工權益文字顏色*/
}
.supplycontent .contents a {
  color: #ff9933;
  text-decoration: underline;
}
.supplycontent .contents a:hover {
  color: #ff6600;
}
.supplycontent .contents .ps {
  display: block;
  font-size: 12px;
  padding-top: 20px;
}
.supplycontent .contents .title {
  padding-bottom: 5px;
  color: #99cc66;
  margin-top: 50px;
  font-size: 16px;
  font-weight: normal;
}
.supplycontent .contents .title:first-child {
  margin-top: 0;
}
.supplycontent table.supplycontent-table-data {
  width: 100%;
  margin: 10px 0;
  table-layout: fixed;
}
.supplycontent table.supplycontent-table-data th,
.supplycontent table.supplycontent-table-data td {
  height: 40px;
  border: 1px solid #ccc;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  background-color: #fff;
  color:black;/*員工權益表格內容文字顏色*/
}
.supplycontent table.supplycontent-table-data .colored-bg {
  background-color: #ecf2d8;
  color:black;/*員工權益表格標題列文字顏色*/
}
.supplycontent table.supplycontent-table-data .colored-bg th,
.supplycontent table.supplycontent-table-data .colored-bg td {
  background-color: #ecf2d8;
}
.supplycontent table.supplycontent-table-data.al-text,
.supplycontent table.supplycontent-table-data .al-text {
  text-align: left;
}
.supplycontent table.supplycontent-table-data.al-text th,
.supplycontent table.supplycontent-table-data .al-text th,
.supplycontent table.supplycontent-table-data.al-text td,
.supplycontent table.supplycontent-table-data .al-text td {
  text-align: left;
}
.supplycontent table.supplycontent-table-data ul {
  text-align: left;
}
.supplycontent table.supplycontent-table-data .ps {
  display: inline-block;
  padding-top: 0px;
  padding-left: 10px;
}
.supplycontent table.supplycontent-table-data.layout-auto {
  table-layout: auto;
}
.supplycontent table.table-form {
  margin-top: 50px;
}
.supplycontent table.table-form .ps {
  display: inline-block;
  padding: 0;
  color: #999999;
  margin-left: 10px;
}
.supplycontent table.table-notice {
  margin-left: 0;
  margin-top: 0;
}
.supplycontent .supplycontent-footer-btn {
  text-align: center;
}
.supplycontent .supplycontent-footer-btn a {
  width: 150px;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  margin: 50px 5px 0 5px;
  background-color: #99cc66;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
.supplycontent .supplycontent-footer-btn a:hover {
  color: #fff;
  background-color: #77c32c;
}
.supplycontent .accordion {
  border: 1px solid #d1d0d0;
  border-bottom: none;
}
.supplycontent .accItem {
  display: block;
  height: 65px;
  overflow: hidden;
  border-bottom: 1px solid #d1d0d0;
  padding: 0 !important;

}
.supplycontent .accBtn {
  display: block;
  height: 65px;
  line-height: 65px;
  padding: 0 50px 0 25px;
  cursor: pointer;
}
.supplycontent .accBtn span {
  display: inline-block;
  vertical-align: middle;
  line-height: 22px;
}
.supplycontent .accFocus {

}
.supplycontent .accContent {
  background-color: #f7f9f0;
}
.supplycontent .accContent .answer {
  padding: 20px 25px 20px 25px;
  border-top: 1px solid #99cc66;
}
.supplycontent .accContent .answer:first-child {
  border-top: none;
  padding-top: 40px;
}
.supplycontent .accContent .answer:last-child {
  padding-bottom: 40px;
}
.supplycontent .accContent .answer li {
  margin-bottom: 10px;
}
/*.lohas .sub-wrap-color,
.lohascontent .sub-wrap-color {
  background-color: #e9eff0;
  padding-bottom: 50px;
}
.lohas .title-header,
.lohascontent .title-header {
  background-color: #0ea1cf;
}
.lohas .title-header .title-block,
.lohascontent .title-header .title-block {
  background-color: #fff;
}
.lohas .gallery-list,
.lohascontent .gallery-list {
  text-align: center;
}
.lohas .gallery-list li,
.lohascontent .gallery-list li {
  display: inline-block;
  margin-top: 40px;
  width: 320px;
  margin-right: 15px;
  margin: 40px 5px 0 5px\0;
}
.lohas .gallery-list li:nth-child(3n),
.lohascontent .gallery-list li:nth-child(3n) {
  margin-right: 0;
}
.lohas .gallery-list li a img,
.lohascontent .gallery-list li a img {
  width: 90%;
  border: 17px solid #fff;
  border-radius: 10px;
  margin-bottom: 15px;
}
.lohas .gallery-list li .photo-title,
.lohascontent .gallery-list li .photo-title {
  font-weight: normal;
  color: #666666;
  padding-left: 17px;
}
.lohas .gallery-list li .view,
.lohascontent .gallery-list li .view {
  display: block;
  padding: 8px 0 0 17px;
  font-size: 12px;
  color: #999999;
}
.lohas .gallery-list li .btn-download,
.lohascontent .gallery-list li .btn-download {
  float: right;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../img/icon_download.png") no-repeat top left;
  font-size: 0;
  text-align: -1000px;
  margin-top: -32px;
  margin-right: 10px;
}
.lohas .gallery-list li .btn-download:hover,
.lohascontent .gallery-list li .btn-download:hover {
  background-position: bottom;
}
.lohas .gallery-list li a:hover img,
.lohascontent .gallery-list li a:hover img {
  border: 17px solid #91d2f9;
}
.lohas .btn-more,
.lohascontent .btn-more {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #666666;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  background-color: #ccc;
  border-radius: 99px;
  margin-top: 50px;
  cursor: pointer;
}
.lohas .btn-more:hover,
.lohascontent .btn-more:hover {
  color: #333333;
}
.lohas .title-header-btn,*/.lohas .sub-wrap-color,
.lohascontent .sub-wrap-color {
  background-color: #e9eff0;
  padding-bottom: 50px;
}
.lohas .title-header,
.lohascontent .title-header {
  background-color: #0ea1cf;
}
.lohas .title-header .title-block,
.lohascontent .title-header .title-block {
  background-color: #fff;
}
.lohas .gallery-list,
.lohascontent .gallery-list {
  text-align: left;
}
.lohas .gallery-list{
  width: 1015px;
}
.lohas .gallery-list li,
.lohascontent .gallery-list li {
  display: inline-block;
  margin-top: 40px;
  width: 320px;
  margin-right: 15px;
  margin: 40px 5px 0 5px;
}
.lohas .gallery-list li:nth-child(3n),
.lohascontent .gallery-list li:nth-child(3n) {
  margin-right: 0;
}
.lohas .gallery-list li a{
  display: block;
}
.lohas .gallery-list li a:hover .img{
  border: 17px solid #91d2f9;
}
.lohas .gallery-list li .img{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  width: 100%;
  height: 180px;
  border: 17px solid #fff;
  border-radius: 10px;
  margin-bottom: 15px;
  overflow: hidden;
}
.lohas .gallery-list li a img {
  width:100%;
}
.lohascontent .gallery-list li a img {
  width: 90%;
  border: 17px solid #fff;
  border-radius: 10px;
  margin-bottom: 15px;
}
.lohas .gallery-list li .photo-title,
.lohascontent .gallery-list li .photo-title {
  font-weight: normal;
  /*color: #666666;*/
   color: black;/*活動花絮相簿列表顏色*/
  padding-left: 17px;
}
.lohas .gallery-list li .view,
.lohascontent .gallery-list li .view {
  display: block;
  padding: 8px 0 0 17px;
  font-size: 12px;
  /*color: #999999;*/
  color: black;/*瀏覽數文字顏色*/
}
.lohas .gallery-list li .btn-download,
.lohascontent .gallery-list li .btn-download {
  float: right;
  display: inline-block;
  width: 24px;
  height: 24px;

  font-size: 0;
  margin-top: -32px;
  margin-right: 10px;
}
.lohas .gallery-list li .btn-download:hover,
.lohascontent .gallery-list li .btn-download:hover {
  background-position: bottom;
}
.lohascontent .gallery-list li a:hover img {
  border: 17px solid #91d2f9;
}
.lohas .btn-more,
.lohascontent .btn-more {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #666666;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  background-color: #ccc;
  border-radius: 99px;
  margin-top: 50px;
  cursor: pointer;
}
.lohas .btn-more:hover,
.lohascontent .btn-more:hover {
  color: #333333;
}
.lohas .title-header-btn,
.lohascontent .title-header-btn {
  color: #0ea1cf;
}
.lohascontent .title-header-btn {
  color: #0ea1cf;
}
.lohascontent {
  background-color: #e9eff0;
}
.lohascontent .contents img {
  width: 100%;
  border-radius: 3px;
}
.lohascontent #info-lohas .title {
  color: #0ea1cf;
}
.lohascontent #info-lohas .title-block {
  background-color: #0ea1cf;
}
.lohascontent .album-info {
  padding: 15px 20px;
  background-color: #666;
  color: #fff;
  overflow: auto;
}
.lohascontent .album-info .album-desc {
  float: left;
}
.lohascontent .album-info .date {
  display: inline-block;
  float: right;
}
.lohascontent .album-info .author {
  display: inline-block;
  float: right;
  margin-right: 50px;
}
.lohascontent .contents {
  padding-bottom: 10px;
}
.lohascontent #gallery .item {
  width: 100%;
  height: 500px;
  text-align: center;
}
.lohascontent #gallery .item img {
  display: inline-block;
  width: auto;
  height: 100%;
}
.lohascontent #gallery .owl-stage-outer {
  z-index: 1;
}
.lohascontent #gallery .owl-controls .owl-nav {
  position: absolute;
  z-index: 0;
  width: 116%;
  margin: -290px 0 0 -8%;
}
.lohascontent #gallery .owl-controls .owl-nav .owl-prev,
.lohascontent #gallery .owl-controls .owl-nav .owl-next {
  font-size: 0;
  width: 32px;
  height: 32px;
  background-color: #e9eff0;
}
.lohascontent #gallery .owl-controls .owl-nav .owl-prev {
  float: left;

}
.lohascontent #gallery .owl-controls .owl-nav .owl-next {
  float: right;

}
.lohascontent #gallery .photo-desc {
  width: 100%;
  padding-top: 20px;
}
.lohascontent #gallery .photo-desc .title {
  float: left;
  font-size: 15px;
  padding: 0;
  line-height: 32px;
  font-weight: normal;
  color:black;/*相片下註解文字顏色*/
}
.lohascontent #gallery .photo-desc .num {
  float: right;
  font-size: 32px;
  color: #0ea1cf;
  letter-spacing: 1px;
  line-height: 32px;
}
.lohascontent #thumb .item {
  /*width: 100%;
  cursor: pointer;
  background: #fff;
  text-align: center;
  border-radius: 3px;*/
    width: 100%;
  height: 105px;
  cursor: pointer;
  border: 10px solid #fff;
  text-align: center;
  border-radius: 3px;
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.lohascontent #thumb .item img {
  /*width: 90%;
  padding: 5%;*/
    width: 100%;
}
.lohascontent #thumb .item:hover {
  /*background: #91d2f9;*/
    border: 10px solid #91d2f9;
}
.lohascontent #thumb .item.actived {
  cursor: default;
  background: #91d2f9;
}
.lohascontent #thumb .owl-dot.active span {
  background: #0ea1cf;
}
.lohascontent #thumb .owl-dot:hover span {
  background: #90d0e5;
}
.discuss .sub-wrap,
.discusscontent .sub-wrap {
  padding-bottom: 50px;
}
.discuss .sub-wrap-color,
.discusscontent .sub-wrap-color {
  background-color: #fefbf5;
}
.discuss .title-header,
.discusscontent .title-header {
  background-color: #f9b852;
}
.discuss .title-header .title-block,
.discusscontent .title-header .title-block {
  background-color: #fff;
}
.discuss .sub-wrap-color-2,
.discusscontent .sub-wrap-color-2 {
  background-color: #ffd89a;
  border-top: 2px solid #f9b852;
  padding-bottom: 50px;
  position: relative;
}
.discuss .sub-wrap-color-2 .title,
.discusscontent .sub-wrap-color-2 .title {
  color: #fff;
}
.discuss .sub-wrap-color-2 .title-block,
.discusscontent .sub-wrap-color-2 .title-block {
  background-color: #fff;
  margin-left: 140px
}
.discuss .sub-wrap-color-2 h2.title,
.discusscontent .sub-wrap-color-2 h2.title {
  position: absolute;
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
  background-color: #f6c578;
  text-align: left;
  line-height: 70px;
  padding: 0;
}
.discuss .sub-wrap-color-2 .title-w,
.discusscontent .sub-wrap-color-2 .title-w {
  display: inline-block;
  width: 1000px;
  text-align: left;
}
.discuss #banner .desc,
.discusscontent #banner .desc {
  background-color: #ffd89a;
}
.discuss #banner .desc .title,
.discusscontent #banner .desc .title {
  color: #6c4e20;
  margin-top: 100px;
}
.discuss .title,
.discusscontent .title {
  color: #f9b852;
}
.discuss .title-block,
.discusscontent .title-block {
  background-color: #f9b852;
}
.discuss .lister-header,
.discusscontent .lister-header {
  width: 100%;
  height: 60px;
  background-color: #ccc;
  line-height: 60px;
  border-radius: 0;
  border: none;
}
.discuss .lister-header *,
.discusscontent .lister-header * {
  display: inline-block !important;
  font-size: 15px !important;
  color: #666666 !important;
}
.discuss .lister-header .question,
.discusscontent .lister-header .question {
  text-indent: 20px;
}
.discuss .lister-header .date,
.discusscontent .lister-header .date {
  text-align: center;
}
.discuss .lister-header .view,
.discusscontent .lister-header .view {
  background: none;
  text-indent: 0;
}
.discuss .lister-category li,
.discusscontent .lister-category li {
  background-color: #f9b852;
}
.discuss .search-bar,
.discusscontent .search-bar {
  float: right;
  margin-top: -10px;
  position: relative;
  vertical-align: top;
}
.discuss .search-bar .search-input,
.discusscontent .search-bar .search-input {
  width: 120px;
  height: 32px;
  line-height: 32px;
  border-radius: 99px;
  border: 1px solid #d1d0d0;
  padding: 0 36px 0 10px;
  position: absolute;
  top: 0;
  right: 0;
  outline: 0;
}
.discuss .search-bar .search-btn,
.discusscontent .search-bar .search-btn {
  display: inline-block;
  position: absolute;
  right: 7px;
  top: 5px;
  width: 24px;
  height: 24px;
  border-radius: 99px;
  border: none;
  font-size: 0;
  text-indent: -1000px;
  padding: 0;
  position: relative;
  z-index: 1;

  cursor: pointer;
}
.discuss .title-header-btn,
.discusscontent .title-header-btn {
  color: #f9b852;
}
.discuss .question-num,
.discusscontent .question-num {
  display: inline-block;
  float: right;
  color: #fff;
  font-weight: bold;
  line-height: 75px;
  margin-right: 20px;
}
.discuss .table-ask,
.discusscontent .table-ask {
  width: 100%;
  color: #6c4e20;
  margin-top: 70px;
}
.discuss .table-ask th,
.discusscontent .table-ask th {
  width: 90px;
  padding: 10px 0;
  height: 30px;
  text-align: left;
}
.discuss .table-ask td,
.discusscontent .table-ask td {
  padding: 10px 0;
}
.discuss .table-ask label,
.discusscontent .table-ask label {
  margin-right: 20px;
}
.discuss .table-ask .title,
.discusscontent .table-ask .title {
  width: 960px;
  height: 40px;
  border: 1px solid #d1d0d0;
  border-radius: 3px;
  font-size: 13px;
  font-weight: normal;
  line-height: 40px;
  color: #333333;
  padding: 0 20px;
  margin: 0;
}
.discuss .table-ask .content,
.discusscontent .table-ask .content {
  width: 960px;
  height: 130px;
  border: 1px solid #d1d0d0;
  border-radius: 3px;
  resize: none;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  color: #333333;
  padding: 10px 20px;
  margin: 0;
  margin-top: 20px;
}
.discuss .table-ask .rule-title,
.discusscontent .table-ask .rule-title {
  display: block;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
  margin-top: 20px;
}
.discuss .table-ask .rule,
.discusscontent .table-ask .rule {
  line-height: 22px;
}
.discuss .table-ask .input-agree,
.discusscontent .table-ask .input-agree {
  margin-top: 25px;
}
.discuss .table-ask .btn-send,
.discusscontent .table-ask .btn-send {
  width: 200px;
  height: 60px;
  background-color: #f9b852;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  border-radius: 99px;
  border: none;
  cursor: pointer;
  float: right;
}
.discuss .table-ask .btn-send:hover,
.discusscontent .table-ask .btn-send:hover {
  background-color: #fff;
  color: #f9b852;
}
.discuss .icon0,
.discusscontent .icon0 {

}
.discuss .icon1,
.discusscontent .icon1 {
 
}
.discuss .icon2,
.discusscontent .icon2 {

}
.discuss .icon3,
.discusscontent .icon3 {
  
}
.discuss .icon4,
.discusscontent .icon4 {

}
.discuss .icon5,
.discusscontent .icon5 {

}
.discuss .icon6,
.discusscontent .icon6 {

}
.discuss .icon7,
.discusscontent .icon7 {

}
.discuss .icon8,
.discusscontent .icon8 {

}
.discuss .icon10,
.discusscontent .icon10 {
 
}
.discuss .icon-search,
.discusscontent .icon-search {

}
.discusscontent {
  background-color: #fefbf5;
}
.discusscontent .contents {
  width: 918px;
  padding: 40px;
  color:black;/*留言板內容文字顏色*/
}
.discusscontent .pager {
  background: none;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.profile {
  padding-bottom: 50px;
}
.profile #banner .desc {
  background-color: #f9a8ce;
}
.profile #banner .desc .title {
  color: #fff;
  margin-top: 100px;
}
.profile .btn-pw {
  display: block;
  text-align: right;
  margin-top: 50px;
}
.profile .btn-pw a {
  display: inline-block;
  height: 24px;
  line-height: 24px;
  color: #fff;

  text-indent: 20px;
  padding: 5px 20px;
  border-radius: 99px;
}
.profile .btn-pw a:hover {
  text-decoration: underline;
}
.profile .info-category {
  width: 31%;
  display: inline-block;
  vertical-align: top;
  margin-left: 3%;
  font-size: 0;
}
.profile .info-category .title-header {
  text-align: center;
  text-indent: 0;
}
.profile .info-category li {
  display: inline-block;
  width: 100%;
  height: 60px;
  border-top: 1px solid #fff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.profile .info-category li a {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 15px;
  color: #666666;
  text-align: center;
}
.profile .info-category.cat-1 {
  margin-left: 0;
}
.profile .info-category.cat-1 ul {
  background: #efefef no-repeat right bottom;
}
.profile .info-category.cat-1 .title-header {
  background-color: #fa60a8;
}
.profile .info-category.cat-1 a:hover {
  color: #fa60a8;
}
.profile .info-category.cat-2 ul {

}
.profile .info-category.cat-2 .title-header {
  background-color: #99cc66;
}
.profile .info-category.cat-2 a:hover {
  color: #50960a;
}
.profile .info-category.cat-3 ul {

}
.profile .info-category.cat-3 .title-header {
  background-color: #f9b852;
}
.profile .info-category.cat-3 a:hover {
  color: #6c4e20;
}
.profile .profile-manager .info-category.cat-1 {
  width: 32%;
}
.profile .profile-manager .info-category.cat-2 {
  width: 64%;
}
.profile .profile-manager .info-category.cat-2 li {
  width: 50%;
  border-right: 1px solid #fff;
}
.profile .profile-manager .info-category.cat-3 {
  display: none;
}
.profilelogin,
.profilepassword {
  background-color: #fff6fb;
}
.profilelogin #banner .desc,
.profilepassword #banner .desc {
  background-color: #fa60a8;
}
.profilelogin #banner .desc .title,
.profilepassword #banner .desc .title {
  color: #fff;
  margin-top: 100px;
}
.profilelogin .profile-form,
.profilepassword .profile-form {
  margin-top: 50px;
  padding-bottom: 50px;
}
.profilelogin .profile-form .field-container,
.profilepassword .profile-form .field-container {
  display: inline-block;
  margin: 0 5px;
}
.profilelogin .profile-form .account,
.profilepassword .profile-form .account,
.profilelogin .profile-form .pw,
.profilepassword .profile-form .pw {
  border: 1px solid #d1d0d0;
  border-radius: 3px;
  width: 380px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-align: center;
}
.profilelogin .profile-form .btn-login,
.profilepassword .profile-form .btn-login,
.profilelogin .profile-form .btn-save,
.profilepassword .profile-form .btn-save {
  width: 155px;
  height: 60px;
  background-color: #f9a8ce;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
}
.profilelogin .profile-form .btn-login:hover,
.profilepassword .profile-form .btn-login:hover,
.profilelogin .profile-form .btn-save:hover,
.profilepassword .profile-form .btn-save:hover {
  background-color: #fa60a8;
}
.result .sub-wrap {
  padding-bottom: 50px;
}
.result .keyword {
  width: 100%;
  padding: 20px 0;
  text-indent: 20px;
  border: 1px solid #d1d0d0;
  background-color: #e9eff0;
  border-radius: 3px;
  font-size: 18px;
}
.result .result-num {
  padding: 20px;
}
.result .result-num em {
  padding: 0 5px;
}
.result .result-list li {
  padding: 5px 20px;
  margin-bottom: 20px;
}
.result .result-list li a {
  color: #666666;
  line-height: 20px;
}
.result .result-list li h3 {
  color: #f90;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
.result .result-list li:hover a {
  color: #333333;
}
.result .result-list li:hover h3 {
  text-decoration: underline;
}
.result .pager {
  background: none;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.form {
  background-color: #ecf2d8;
}
.form .sub-wrap {
  padding-bottom: 50px;
}
.form .title-header {
  background-color: #99cc66;
}
.form .title-header .title-block {
  background-color: #fff;
}
.form .title {
  color: #99cc66;
}
.form .title-block {
  background-color: #99cc66;
}
.form .title-header-btn {
  color: #99cc66;
}
.form .contents {
  width: 898px;
  padding: 50px;
}
.form a {
  color: #ff9933;
  text-decoration: underline;
}
.form a:hover {
  color: #ff6600;
}
.form .form-title {
  width: 92%;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background: #99cc66;
  margin: 50px 0 50px 35px;
}
.form .form-sub-title {
  width: 92%;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  font-weight: bold;
  color: #99cc66;
  text-align: left;
  margin: 30px 0 0 35px;
  padding-top: 20px;
  border-top: 1px solid #efefef;
}
.form table.table-phone {
  table-layout: fixed;
}
.form table.table-phone select {
  width: 100%;
  padding: 0 10px;
}
.form table.table-phone .phone-modify {
  display: inline-block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  background: #ccc;
  margin: 0 5px;
}
.form table.table-phone .phone-modify.phone-delete:hover,
.form table.table-phone .phone-modify.phone-cancel:hover {
  background: #900;
  color: #fff;
}
.form table.table-phone .phone-modify.phone-save:hover {
  background: #77c32c;
  color: #fff;
}
.form table.table-phone input[type="text"] {
  width: 100%;
  padding: 0;
  text-indent: 5px;
}
.form table.table-edu th,
.form table.table-edu td,
.form table.table-edu select,
.form table.table-edu span,
.form table.table-edu input[type="text"] {
  font-size: 13px;
}
.form table.table-family {
  margin-bottom: 50px;
}
.form table.table-family th,
.form table.table-family td,
.form table.table-family select,
.form table.table-family span,
.form table.table-family input[type="text"] {
  font-size: 13px;
}
.form table.table-family input[type="text"] {
  width: 100%;
  padding: 0;
  text-indent: 5px;
  font-size: 13px;
}
.form .form-btn-add {
  display: block;
  margin: 20px auto;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid #99cc66;
  cursor: pointer;
  color: #99cc66;
}
.form .form-btn-add:hover {
  background: #99cc66;
  color: #fff;
}
.form .amount-original {
  color: #ff6600;
  padding: 0 5px;
}
.form .family-group {
  width: 825px;
  margin-left: 35px;
}
.form .family-member {
  position: relative;
  padding: 30px 0;
  border-top: 1px solid #efefef;
  margin: 0;
  width: 100%;
}
.form .family-member table {
  margin: 0;
  width: 895px;
}
.form .family-member .family-btn-delete {
  display: block;
  position: absolute;
  top: 10px;
  right: 0;
  background: #ccc;
  border-radius: 99px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 15px;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.form .family-member .family-btn-delete:hover {
  background: #f00;
}
.form .family-member:first-child {
  border: none;
  padding-top: 0;
}
.form .family-member:first-child .family-btn-delete {
  display: none;
}
.form #subsidyEdu span {
  margin-right: 30px;
}
.form #subsidyEdu span b {
  color: #ff6600;
  font-weight: bold;
  margin: 0 5px;
}
/*@media screen and (max-width: 1200px) {
  .index #info-lohas .owl-nav {
    display: none;
  }
  .index #info-lohas .owl-theme .owl-dots {
    display: block !important;
  }
  .benefits .owl-nav {
    display: none;
  }
  .benefits .owl-theme .owl-dots {
    display: block !important;
  }
  .lohascontent .owl-nav {
    display: none;
  }
}*/
@media screen and (max-width: 1200px) {
  .index #info-lohas .owl-nav {
    display: none;
  }
  .index #info-lohas .owl-theme .owl-dots {
    display: block !important;
  }
  .benefits .owl-nav {
    display: none;
  }
  .benefits .owl-theme .owl-dots {
    display: block !important;
  }
  .lohascontent .owl-nav {
    display: none;
  }
}
.lister_table {
  border-radius: 10px;
  border: 1px solid #d1d0d0;
  overflow: hidden;
  background-color: #fff;
}
.lister_table tr {
  height: 60px;
  line-height: 60px;
  overflow: hidden;
  text-indent: 20px;
  color: #666666;
  border-top: 1px solid #d1d0d0;
  cursor: pointer;
}
.lister_table tr * {
  /*color: #666666;*//*留言板列表文字*/
  color: black;
}
.lister_table tr a {
  display: block;
  width: 100%;
  height: 100%;
}
.lister_table tr a:visited {
  color: #999999 !important;
}
.lister_table tr a:visited * {
  color: #999999 !important;
}
.lister_table tr:hover {
  color: #000 !important;
  background-color: #f9f9f9;
}
.lister_table tr:hover * {
  color: #000 !important;
}
.lister_table tr:hover a {
  color: #000 !important;
}
.lister_table tr:first-child {
  border-top: none;
}
.lister_table.with-header {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: none;
}
.lister_table.with-pager {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: none;
}
.pager-num li a {
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  color: #999999;
  text-align: center;
  cursor: pointer;
  border: 2px solid #d1d0d0;
}
.pager-num li a.switcher {
  border: 0;
  width: auto;
}
.owl-carousel .owl-item img{
transform-style:flat !important;
}
.underline{
  text-decoration: underline;
}
.logo-img {
    background-repeat: no-repeat;
    float: left;
    height: 32px;
    width: 155px;
    margin: 14px -20px 14px 30px;
}